<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebWork</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB3</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/front-end/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentsServlet</servlet-name>
    <servlet-class>com.comments.controller.CommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsServlet</servlet-name>
    <url-pattern>/back-end/msgbroad/comments.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/back-end/employee/employee.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp_permissionServlet</servlet-name>
    <servlet-class>com.emp_permission.controller.Emp_permissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp_permissionServlet</servlet-name>
    <url-pattern>/back-end/employee/emp_permission.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MsgbroadServlet</servlet-name>
    <servlet-class>com.msgbroad.controller.MsgbroadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgbroadServlet</servlet-name>
    <url-pattern>/back-end/msgbroad/msgbroad.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.news.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/front-web/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/front-web/product.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBJpgReader4</servlet-name>
    <servlet-class>util.DBJpgReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBJpgReader4</servlet-name>
    <url-pattern>/DBJpgReader4</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EmployeeFilter</filter-name>
    <filter-class>filters.EmployeeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmployeeFilter</filter-name>
    <url-pattern>/back-end/employee/empAdd.jsp</url-pattern>
    <url-pattern>/back-end/employee/empChangeEmail.jsp</url-pattern>
    <url-pattern>/back-end/employee/empChangePerm.jsp</url-pattern>
    <url-pattern>/back-end/employee/empChangePw.jsp</url-pattern>
    <url-pattern>/back-end/employee/empListAll.jsp</url-pattern>
    <url-pattern>/back-end/msgbroad/msgAdd.jsp</url-pattern>
    <url-pattern>/back-end/msgbroad/msgAll.jsp</url-pattern>
    <url-pattern>/back-end/msgbroad/msgResult.jsp</url-pattern>
    <url-pattern>/back-end/msgbroad/msgUpdate.jsp</url-pattern>
    <url-pattern>/back-end/front-end/news.jsp</url-pattern>
    <url-pattern>/back-end/front-end/product.jsp</url-pattern>
    <url-pattern>/back-end/front-end/productAdd.jsp</url-pattern>
    <url-pattern>/back-end/front-end/productEdit.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>